header {
    text-align: center;
}

.hour {
    border-top: black;
    border-bottom: black;
    border-style: solid;
}

.btn {
    border-style: solid;
    border-color: crimson;
    background-image: url("/images/save-button.png");
}

.past {
    background-color: crimson;
}

.present {
    background-color: cyan;
}

.future {
    background-color: greenyellow;
}