header {
    text-align: center;
}

.btn {
    background-color: blue;
    border-style: solid;
    border-color: crimson;
}

.past {
    background-color: crimson;
}

.present {
    background-color: cyan;
}

.future {
    background-color: greenyellow;
}